@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");

// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.f-nunito {
  font-family: "Nunito", sans-serif !important;
}

$bg-color: #12171f;

nav {
  background-color: $bg-color;
}

:root {
  background-color: $bg-color;
}

body.f-roboto {
  #home {
    font-family: "Roboto", sans-serif !important;
  }
}

.body-grad {
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.f-raleway {
  font-family: "Raleway", sans-serif;
}

.f-inter {
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
}

#home {
  font-family: var(--font-inter), sans-serif;
}

.abt-btn {
  padding: 12px;
  border-radius: 5px;
  outline: none !important;
  border: none;
  color: white;
  transition: all 200ms;
  background: linear-gradient(135deg, #f55668, #f86e59);

  &:hover {
    transform: translateY(-1px);
    box-shadow: 3px 3px 10px rgba(39, 39, 39, 0.1);
    filter: brightness(1.1);
  }
}



::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3290e9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: color.mix(black, #3290e9, 10%);
}

::-webkit-scrollbar-thumb:active {
  background: color.mix(black, #3290e9, 20%);
}

.footer-link {
  color: rgba(255, 255, 255, 0.8);

  &:hover {
    color: #bebebe;
  }
}

#baby-advaith-pic {
  width: 100%;
}

#home-content {
  width: 600px;
}

@media screen and (max-width: 800px) {
  #baby-advaith-pic {
    width: 80%;
  }

  #home-content {
    width: 80vw;
  }
}

$spinner-border: 2.5px;

.lit-spinner {
  width: 30px;
  height: 30px;
  border: $spinner-border solid transparent;
  border-top: $spinner-border solid #f3f3f3;
  border-bottom: $spinner-border solid #f3f3f3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.lit-spinner-black {
  @extend .lit-spinner;
  border-top: $spinner-border solid #000;
  border-bottom: $spinner-border solid #000;
}

.lit-spinner-big {
  @extend .lit-spinner-black;
  width: 6rem !important;
  height: 6rem !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.lit-btn {
  outline: none !important;
  background-image: linear-gradient(135deg, #329cff, #0059ff);
  border: none;
  font-size: 18px;
  padding: 8px 18px;
  border-radius: 5px;
  color: white;
  box-shadow: 4px 4px 5px rgba(20, 20, 20, 0.2);
  transition: 200ms;
  text-transform: uppercase;

  &:hover {
    filter: brightness(1.1);
    box-shadow: 4px 4px 5px rgba(20, 20, 20, 0.25);
    text-decoration: none;
    color: white;
  }
}

.blog-btn {
  img {
    transform: translateY(0px);
    transition: 200ms;
  }

  &:hover {
    img {
      transform: translateX(2.5px);
      transition: 200ms;
    }
  }
}