@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a;
  --foreground: rgba(255, 255, 255, 0.8);
}

body {
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html,
body {
  background: radial-gradient(circle at top left, #1e293b, #020617);
  /* Lowkey Slate/Black gradient */
  background-attachment: fixed;
  /* gradient covers full scroll */
  min-height: 100vh;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}